/* You can add global styles to this file, and also import other style files */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #e75bb6;
    color: rgb(16, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
  }  